In [ ]:
#Display future leap years from current year to a final year entered by user.
y=int(input("enter the final year"))
print("Future leap years from 2021")
for x in range (2021,y+1):
 if((x%4==0) and(x%100!=0)) or (x%100==0):
   print(x)

enter the final year2030
Future leap years from 2021
2024
2028

In [ ]:
# Generate positive list of numbers from a given list of integers
mylist=[2,3,-4,-5,-3]
print("First list :",mylist)
newlist=[x for x in mylist if x > 0]
print("New list:",newlist)

#Square of N numbers
mylist=[2,5,3,8]
print("First List",mylist);
newlist=[number ** 2 for number in mylist] 
print("new list",newlist)

#Form a list of vowels selected from a given word
[x for x in 'MATHEMATICS' if x in ['A','E','I','O','U']]

First list : [2, 3, -4, -5, -3]
New list: [2, 3]
First List [2, 5, 3, 8]
new list [4, 25, 9, 64]

['A', 'E', 'A', 'I']

In [ ]:
# Count the occurrences of each word in a line of text.
txt="apple mango strawberry jam apple jam mango"
x1=txt.count("apple")
x2=txt.count("mango")
x3=txt.count("jam")
x4=txt.count("strawberry")
print(x1,x2,x3,x4)

2 2 2 1

In [ ]:
# Accept the radius from user and find area of circle.
r=float(input("enter radius of circle"))
pi=3.14
area=pi*r*r
print("Area=",area)

enter radius of circle4
Area= 50.24

In [ ]:
#Find biggest of 3 numbers entered.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4
Enter second number: 7
Enter third number: 3
The largest number is 7.0

In [ ]:
#Merge two dictionaries.
dict1={"a":100,"b":200}
dict2={"x":300,"y":400}
newdict=dict1.copy()
newdict.update(dict2)
print("Merged dicionary:",newdict)

Merged dicionary: {'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [ ]:
#Accept an integer n and compute n+nn+nnn.
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
#Create a single string separated with space from two strings by swapping the
 character at position 1.
def change_string(str1):
    return str1[-1:] + str1[1:-1] + str1[:1]
print(change_string('abcd'))

dbca

In [ ]:
#Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.

def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

In [ ]:
#From a list of integers, create a list removing even numbers.list=[1,2,3,4,5,6]
print("Orginal list",list)
for i in list:
  if(i%2==0):
    list.remove(i)
    print("List after removing Even Nos",list)

Orginal list [1, 2, 3, 4, 5, 6]
List after removing Even Nos [1, 3, 4, 5, 6]
List after removing Even Nos [1, 3, 5, 6]
List after removing Even Nos [1, 3, 5]

In [ ]:
#Accept a file name from user and print extension of that.
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: large.java
The extension of the file is : 'java'