In [ ]:
#Display future leap years from current year to a final year entered by user.
y=int(input("enter the final year"))
print("Future leap years from 2021")
for x in range (2021,y+1):
 if((x%4==0) and(x%100!=0)) or (x%100==0):
   print(x)

enter the final year2030
Future leap years from 2021
2024
2028

In [4]:
# Generate positive list of numbers from a given list of integers
print("Positive list of numbers from a given list of integers\n")
mylist=[2,3,-4,-5,-3]
print("First list :",mylist)
newlist=[x for x in mylist if x > 0]
print("New list:",newlist)

#Square of N numbers
print("\nSquare of n nos from given list\n")
mylist=[2,5,3,8]
print("First List",mylist);
newlist=[number ** 2 for number in mylist] 
print("new list",newlist)

#Form a list of vowels selected from a given word
print("\nForm a list of vowels selected from MATHEMATICS\n")
[x for x in 'MATHEMATICS' if x in ['A','E','I','O','U']]

Positive list of numbers from a given list of integers

First list : [2, 3, -4, -5, -3]
New list: [2, 3]

Square of n nos from given list

First List [2, 5, 3, 8]
new list [4, 25, 9, 64]

Form a list of vowels selected from MATHEMATICS

['A', 'E', 'A', 'I']

In [9]:
#List ordinal value of each element of a word (Hint: use ord() to get ordinal values)
n=input("Enter any word ")
for i in range(len(n)):
  print("ASCII Value is" ,n[i],"is",ord(n[i]))

Enter any wordwater
ASCII Value is w is 119
ASCII Value is a is 97
ASCII Value is t is 116
ASCII Value is e is 101
ASCII Value is r is 114

In [ ]:
# Count the occurrences of each word in a line of text.
txt="apple mango strawberry jam apple jam mango"
x1=txt.count("apple")
x2=txt.count("mango")
x3=txt.count("jam")
x4=txt.count("strawberry")
print(x1,x2,x3,x4)

2 2 2 1

In [ ]:
# Accept the radius from user and find area of circle.
r=float(input("enter radius of circle"))
pi=3.14
area=pi*r*r
print("Area=",area)

enter radius of circle4
Area= 50.24

In [ ]:
#Find biggest of 3 numbers entered.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4
Enter second number: 7
Enter third number: 3
The largest number is 7.0

In [2]:
# Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
x=[]
n=int(input("Enter any integers"))
for i in range(1,n+1):
  a=int(input())
  if(a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list:",x)

Enter any integers5
6
4
8
3
3
modified list: [6, 4, 8, 3, 3]

In [ ]:
#Merge two dictionaries.
dict1={"a":100,"b":200}
dict2={"x":300,"y":400}
newdict=dict1.copy()
newdict.update(dict2)
print("Merged dicionary:",newdict)

Merged dicionary: {'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [ ]:
#Accept an integer n and compute n+nn+nnn.
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
#Create a string from given string where first and last characters exchanged. [eg: python -> nythop]

def change_string(str1):
    return str1[-1:] + str1[1:-1] + str1[:1]
print(change_string('abcd'))

dbca

In [10]:
#Create a single string separated with space from two strings by swapping the
 character at position 1.

def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

In [ ]:
#Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.

def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

In [ ]:
#From a list of integers, create a list removing even numbers.list=[1,2,3,4,5,6]
print("Orginal list",list)
for i in list:
  if(i%2==0):
    list.remove(i)
    print("List after removing Even Nos",list)

Orginal list [1, 2, 3, 4, 5, 6]
List after removing Even Nos [1, 3, 4, 5, 6]
List after removing Even Nos [1, 3, 5, 6]
List after removing Even Nos [1, 3, 5]

In [ ]:
#Accept a file name from user and print extension of that.
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: large.java
The extension of the file is : 'java'

In [ ]:
#Sort dictionary in ascending and descending order. 
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
# Print out all colors from color-list1 not contained in color-list2.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [5]:
# Enter 2 lists of integers. Check (a) Whether list are of same length
list1= [2,3,4,5]
list2=[2,7,5,6]
print("The first list is" + str(list1))
print("The second list is", str(list2))
l1=len(list1)
l2=len(list2)
print("Length of list 1","and length of list2: ",l2)
if l1==l2:
  print("The list are of same length")
else:
    print("The list are of different length")

The first list is[2, 3, 4, 5]
The second list is [2, 7, 5, 6]
Length of list 1 and length of list2:  4
The list are of same length

In [14]:
# Enter 2 lists of integers. (b) check whether list sums to same value 
list1= [2,3,4,5]
list2=[2,7,5,6]
print("The first list is" + str(list1))
print("The second list is", str(list2))
sum1=0
sum2=0
for x in range(0,len(list1)):
  sum1=sum1+list1[x]
print("Sum of all elements in given list1",sum1)     
for x in range (0,len(list2)):
  sum2=sum2+list2[x] 
print("Sum of all elements in given list2",sum2)
if(sum1==sum2):
  print("List sum to same value")
else:
  print("List sum to different value")

The first list is[2, 3, 4, 5]
The second list is [2, 7, 5, 6]
Sum of all elements in given list1 14
Sum of all elements in given list2 20
List sum to different value

In [15]:
# Enter 2 lists of integers (c) whether any value occur in both
list1= [2,3,4,5]
list2=[2,7,5,6]
print("The first list is" + str(list1))
print("The second list is", str(list2))
print("Values occur in both list")
for x in list1:
  if(x in list1 and x in list2):
    print(x)

The first list is[2, 3, 4, 5]
The second list is [2, 7, 5, 6]
Values occur in both list
2
5

In [ ]:
#. Find gcd of 2 numbers.
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 5
Enter 2nd number: 15
GCD is 5

In [1]:
#Store a list of first names. Count the occurrences of ‘a’ within the list
a_list = ["a", "b", "a"]
occurrences = a_list.count("a")
print(occurrences)

2

In [ ]:
#Create a list of colors from comma-separated color names entered by user. Display first and last colors.

color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black